body {
    margin: 0;
    padding: 0;
    background: #17212b;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    padding: 20px;
}

h1 {
    text-align: center;
}

.input-block {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background: #2ea6ff;
    color: white;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #242f3d;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}